* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.flex-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex-item {
    margin-bottom: 12px;
}

h5 {
    font-size: 1.3rem;
}